.git
.gitignore
.env
venv
__pycache__
*.pyc
*.pyo
*.pyd

frontend/node_modules
frontend/.next
frontend/.env.local

tech-report
data

.cache
backend/.cache
backend/app/__pycache__
backend/app/services/__pycache__
